.img-upload {
	position: absolute;
	top: 50px;
	left: 20%;
	width: 60%;
	border: 2px solid #ccc	;
	border-radius: 5px;
	font-family: 'Helvetica Neue',sans-serif;
	font-size: 16px;
}
.frmUpload {
	background-color:#FFFFEC;
	border-top: 2px solid #999;
	border-bottom: 2px solid #999;
	padding: 20px;
}
.user-image {
	width: 40%;
}
.btn-upload {
	background: #FEDA71;
	background: -moz-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#FEDA71),color-stop(100%,#FEBB49));
	background: -webkit-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	background: -o-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	background: -ms-linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	background: linear-gradient(top,#FEDA71 0%,#FEBB49 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#FEDA71',endColorstr='#FEBB49',GradientType=0);
	padding:8px 18px;
	color:#623F1D;
	border-radius:48px;
	-moz-border-radius:48px;
	-webkit-border-radius:48px;
	border:1px solid #623F1D
}
.img-preview {
    max-width: 100%;
    max-height: 100%;
	padding: 0px 20px 20px;
	float: left;
}
.img-preview img {
    max-width: 100%;
    max-height: 100%;
	border: 1px solid #000;
}
.img-preview1 {
	width: 302px;
	height: 302px;
	padding: 0px 20px 20px;
	float: left;
}
.img-preview1 img {
    max-width: 100%;
    max-height: 100%;
	border: 1px solid #000;
}
.upload-msg {
	padding: 20px 20px 20px 0;
	float: left;
	text-align: center;	
}
.msg-error {
	color: #ff0000;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
